<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
	<div class="header">
		<h1>MARIANA TORRERO</h1>
		<p> <3 <3 !!!</p>
	</div>
	<div class="menu">
		<a href="">Menu 1</a>
        <a href="">Menu 2</a>
        <a href="">Menu 3</a>
		<a href="">Menu 4</a>
	</div>

	<div class="contenido">
    <div class="izquierda"> 
     <div class="item">
     	<h2> LAS PEONIAS </h2>
     	<h5> Son mis flores favoritas...</h5>
     	<img src="PEO.jpg" alt="" class="imagen">
     	<img src="cere.jpg" class="imagen">
        
     </div>
   </div>
 </div>

 <div class="derecha">
 	<div class="item">
 	 <h2> 
 	 Soy Mariana, tengo 16 años, estudio en el "Centro de Estudios Tecnologico y de Servicios #107</h2>
 	  <img src=".jpg" alt="" width="100px">

 	</div>
 	
 	<div class="footer">
 		<h2>&copy; 2019</h2>
 	</div>
 </div>
</body>
</html>